/*//////////////////// Généralité du site ////////////////////*/

body {
    margin: 0 auto;
    width: 1240px;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

/*//////////////////// Haut du site, Logo Titre et barre de recherche ////////////////////*/

.logo {
    width: 50px;
    height: 46.29px;
}

.title {
    color: #D04F4F;
    margin: 5px;
    font-weight: 700;
    font-size: 36px;
    font-family: 'DM Sans', sans-serif;
    line-height: 46.87px
}

.research-bar {
    margin: 0 auto;
    width: 1240px;
    position: relative;
    border-radius: 5px;
    background-color: #E7E7E7;
    height: 69px;
}

.research {
    border: none;
    color: #000000;
    opacity: 25%;
    width: 1000px;
    font-size: 22px;
    top: 23px;
    left: 24px;
    position: absolute;
    background-color: #E7E7E7;
}

.research:focus {
    outline: none;
}

.search {
    width: 32px;
    top: 17.5px;
    right: 17.5px;
    position: absolute;
}

/*//////////////////// Bouton sélecteur ////////////////////*/

#section-btn {
    display: flex;
}

.btn-container {
    display: flex;
    align-items: center;
    margin: 50px 50px 0 0;
}

.searchbox-class {
    display: none;
    width: 170px;
    height: 69px;
    border: none;
    border-radius: 5px;
    padding: 0 35px 0 25px;
}

.btn-Title {
    font-family: 'Lato', sans-serif;
    width: 170px;
    height: 69px;
    border: none;
    border-radius: 5px;
    display: flex;
    padding: 0 0 0 25px;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#ingredientTitle, #ingredientSearchBox, #ingredientSearch {
    background-color: #3282F7;
}
#applianceTitle, #applianceSearchBox, #applianceSearch {
    background-color: #68D9A4;
}
#ustensilTitle, #ustensilSearchBox, #ustensilSearch {
    background-color: #ED6454;
}

#ingredientSearch, #applianceSearch, #ustensilSearch{
    border: none;
}

#applianceSearch:focus, #ingredientSearch:focus, #ustensilSearch:focus {
    outline: none;
}
#applianceSearch::placeholder, #ingredientSearch::placeholder, #ustensilSearch::placeholder {
    color: white;
}

.arrow {
    margin: 0 0 0 -30px;
    transition: transform 0.5s;
}

.rotate180 {
    transform: rotate(180deg);
}

/*//////////////////// Listes des ingrédients, appareils et ustensiles ////////////////////*/

.listBtn {
  position: absolute;
  margin: 60px 0 0 -25px;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  border-radius: 0 0 5px 5px;
  padding: 0 0 10px 25px;
}

.listBtn p {
  margin: 15px 0 0 0;
  font-size: 18px;
}

#listIngredients {
    background-color: #3282F7;
}

#listAppliances {
  background-color: #68D9A4;
}

#listUstensils {
  background-color: #ED6454;
}

.list-ingredients p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 5px;
}


/*//////////////////// Section des cartes ////////////////////*/

ul {
    list-style: none;
  }
  
  ul li {
    font-size: 12px;
  }
  
  #section-meal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 364px;
    gap: 4%;
    grid-row-gap: 20px;
    margin-top: 50px;
  }
  

  .recipe-card {
    display: grid;
    grid-template-areas:
      "header header"
      "information information";
    font-family: 'Lato', sans-serif;
  }
  
  .recipe-header {
    grid-area: header;
    background-color: #C7BEBE;
    width: 380px;
    height: 178px;
    border-radius: 5px 5px 0 0;
  }
  
  .recipe-information {
    grid-area: information;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "name time"
      "ingredients description";
    width: 380px;
    height: 210px;
    background-color: #E7E7E7;
    border-radius: 0 0 5px 5px;
  }
  
  .recipe-name {
    grid-area: name;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 0 10px;
}

  
  .recipe-time {
    grid-area: time;
    display: flex;
    justify-content: flex-end;
    max-width: 200px;
    padding: 0 10px 0 0;
  }
  
  .time {
    display: inline-block;
    height: 20px;
    padding: 0 5px 0 0 ;
    background-color: #E7E7E7;

  }
  
  .recipe-ingredients {
    grid-area: ingredients;
    list-style: none;
    padding: 0;
    font-size: 12px;
    max-width: 180px;
    margin: 0;
    padding: 0 0 0 10px;
  }
  
  .recipe-description {
    font-size: 12px;
    line-height: 1.2em;
    height: calc(1.2em * 6);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin: 0;
    width: 171px;
    padding: 0 0 0 10px;
  }
  
